section {
    background-color: #afafaf;
    width: 800px;
    height: 800px;
}

div {
    background-color: #e598be;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 5em;
    margin-left: 1em;
}

h3 {
    font-size: 1.5 em;
}

p {
    font-size: 0.8 em;
}

article {
    font-size: 30px;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    color: white;
    background-color: #2a9d8f;
}

ul {
    font-size: 1.5em;
}

#rems ul {
    font-size: 1.5rem;
}